@using StrategyApi.StrategyBackgroundService.Dto.Services
@inject IJSRuntime JSRuntime
@code {

    [Parameter]
    public CandleDto Candle { get; set; } = new CandleDto();

}

<div class="candle-card">
    <div><strong>Last candle</strong></div>
    <div><strong>Date:</strong> @Candle.Date</div>
    <div><strong>Open:</strong> @Candle.Open</div>
    <div><strong>High:</strong> @Candle.High</div>
    <div><strong>Low:</strong> @Candle.Low</div>
    <div><strong>Close:</strong> @Candle.Close</div>
    <div><strong>Volume:</strong> @Candle.Volume</div>
    <div><strong>Bid Volume:</strong> @Candle.BidVolume</div>
    <div><strong>Ask Volume:</strong> @Candle.AskVolume</div>
</div>

<style>
    .candle-card {
        border: 1px solid #ddd;
        padding: 10px;
        margin: 10px 0;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
</style>