@using StrategyApi.StrategyBackgroundService.Dto.Services.Enum
@using RobotAppLibraryV2.Modeles
@inherits StrategiInitFormBase


<div>
    <div id="target">
        <div>
            <button class="e-btn" @onclick="@CreateStrategy">Open strategy</button>
        </div>
        <SfDialog Width="300px" ShowCloseIcon="true" @bind-Visible="Visibility" AllowPrerender="true" IsModal="true">
            <DialogTemplates>
                <Header> Form strategy creation </Header>
                <Content>
                    <div>
                        <div>
                            <EditForm Model="@_strategyInitDto" OnValidSubmit="InitStrategy">
                                <DataAnnotationsValidator/>
                                <ValidationSummary/>
                                <div class="form-group">
                                    <SfDropDownList ID="strategyType" @bind-Value="@_strategyInitDto.StrategyType" Placeholder="Strategy" FloatLabelType="FloatLabelType.Auto" Width="300px" DataSource="@StrategyTypes" TValue="StrategyTypeEnum" TItem="string"/>
                                </div>
                                <div class="form-group">
                                    <SfAutoComplete EnableVirtualization="true" ID="symbolType" @bind-Value="@_strategyInitDto.Symbol" Placeholder="Select symbol" FloatLabelType="FloatLabelType.Auto" Width="300px" DataSource="@Symbols" TValue="string" TItem="SymbolInfo">
                                        <AutoCompleteFieldSettings Value="@nameof(SymbolInfo.Symbol)"></AutoCompleteFieldSettings>
                                    </SfAutoComplete>
                                </div>
                                <div class="form-group">
                                    <SfDropDownList ID="timeFrameList" @bind-Value="@_strategyInitDto.Timeframe" Placeholder="Timeframe" FloatLabelType="FloatLabelType.Auto" Width="300px" DataSource="@TimeFrames" TValue="Timeframe" TItem="string"/>
                                </div>
                                <div class="form-group">
                                    <SfDropDownList ID="timeFrameList2" @bind-Value="@_strategyInitDto.Timeframe2" Placeholder="Timeframe" FloatLabelType="FloatLabelType.Auto" Width="300px" DataSource="@TimeFrames" TValue="Timeframe" TItem="string"/>
                                </div>
                                <div class="mt-3">
                                    <SfButton>Submit</SfButton>
                                </div>
                            </EditForm>
                        </div>
                    </div>
                    <div id="container">
                        <SfSpinner @bind-Visible="@OnLoading"/>
                    </div>
                </Content>
            </DialogTemplates>
        </SfDialog>
    </div>

</div>


@code {

}